<div class="content-nav">
    <div class="navbar">
        
        <div class="menu">
          <ul>
            <li><a href="#">Archivo</a></li>
            <li><a href="#">Editar</a></li>
            <li><a href="#">Vista</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <div class="logo">
            <a href="#">Logo</a>
          </div>
      </div>
      
    
</div>






