/* panel */
*{
    margin: 0;
    padding: 0;
   }

body{
     width: 100vw; /* 100% del ancho de la ventana del navegador */
    height: 100vh; 
    position: fixed;
 }

.root{
    
    display:flex;
    flex-direction: row;
    height:92%;

 
}
.nav{
    height: 8%;
    width: 100%;
    
   
    
}
 
.sidebar_left{
width:15% ;
background-color: #d4cccc;

}
.panel_work{
width: 70%;
position: relative;
}
.sidebar_right{
    background-color: #d4cccc;
    width:15% ;

}
 