<div class="content-nav">
  <div class="navbar">

    <div class="menu">
      <ul> 
        <li><button onclick="abrirProyecto()">Abir</button></li>
        <li><button onclick="crearProyecto()">Nuevo</button></li>
        <li><button onclick="guardaProyecto()">Guardar</button></li>
        <li><button onclick="exportXML()">exp-XML</button></li>
        <li><button onclick="importXML()">imp-XML</button></li>
        <li><button onclick="exportJava()">Java</button></li>
        <li><button onclick="exportC()">C++</button></li>
        <li><button onclick="exportPhp()">Php</button></li>
        <li><button onclick="exportJavaScript()">JavaScript</button></li>
      </ul>
    </div>
    <div class="logo">

      <% if (user) { %>
        <form action="/logout" method="post">
          <span  >Hola, <%= user.user_name %>!</span>
          <input style="display: none;" id="userId" value=" <%= user.user_id %>"> 
          <button class="btnCerrarSesion" type="submit" >Cerrar sesión</button>
        </form>

        <% } else { %>
          <span>No has iniciado sesión.</span>
          <!-- Aquí puedes agregar el formulario de inicio de sesión -->
          <% } %>
    </div>
  </div>


</div>