<div class="content-nav">
  <div class="navbar">

    <div class="menu">
      <ul>
        <li><button onclick="abrirProyecto()">Abir</button></li>
        <li><button onclick="crearProyecto()">Nuevo</button></li>
        <li><button onclick="guardaProyecto()">Guardar</button></li>
        <li><button onclick="exportXML()">XML</button></li>
        <li><button onclick="exportJava()">Java</button></li>
        <li><button onclick="exportC()">C++</button></li>
      </ul>
    </div>
    
    <div class="logo">
      <a href="#">Logo</a>
    </div>
  </div>


</div>