<div class="content-sidebar_right">
    <div class="documents">
        <% documents.forEach(project => { %>
            <p><%= project.project_name %></p> <!-- Aquí cerré correctamente la etiqueta -->
            <button onclick="cargarData('<%= project.project_id %>')" >Cargar</button>
        <% }) %>
    </div>
</div>
