<div class="content-sidebar_left">
    <div class="content_btn">
        <button onclick="agregarActor()"><img src="/img/actor.png" alt="actor" width="40" height="40"
                srcset=""></button>
        <button onclick="agregarInterface()"><img src="/img/interface.png" alt="actor" width="40" height="40"
                srcset=""></button>

        <button onclick="agregarControlador()"><img src="/img/controller.png" alt="actor" width="40" height="40"
                srcset=""></button>
        <button onclick="agregarEntidad()"><img src="/img/entity.png" alt="actor" width="40" height="40"
                srcset=""></button>

    </div>













    <!-- Agrega más botones según sea necesario para representar diferentes tipos de nodos -->
</div>